.wrapper{
    width: 700px;
    background-color:#0e4465a0 ;
    padding: 10px 15px;
    color: white;
}
.wrap{
    width: 700px;
    padding: 10px 15px;
}

#felix{
    border-left: 2px solid #e80b24 ;
    padding: 2px 5px;
    border-top: 2px solid #e80b24;
    color:#e80b24 ;
}

@media(min-width:787px){
    .my-btn{
        display: none;
    }
    #open{
        font-family: 'Times New Roman', Times, serif;
    }
  
    .phone{
        display: none;
    }
    #toclo{
        display: none;
    }
}

@media(max-width:786px){
    .wrapper{
        width: 100vw;
        padding: 6px 15px;
        color: white;
    } 
    #open{
       position:fixed;
       left: 0;
       width: 100%;
       background-color: #0e4465;
        height: 100vh;
    //   border-radius: 20px 20px 0 0;
      padding: 20px 0;
      top: 0;
      transition: 2s linear ;
    }
    #close{
        display: none;
      transition: 2s linear ;
    }
    #open li{
        margin: 15px 10px;
    }

    .wrap{
        width: 100vw;
        padding: 8px 15px;
    }
    .laptop{
        display: none;
    }
}