@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Hedvig+Letters+Serif:opsz@12..24&family=Heebo:wght@500&family=Indie+Flower&family=Kalnia:wght@600&family=Lato:wght@300;400&family=Montserrat+Alternates:ital@1&family=Rubik+Scribble&display=swap');


body{
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: rgb(1, 28, 45);
    padding: 13px 0;
}

#myborder{
    border: 2px solid rgb(49, 215, 115);
}
#network{
    p{
        border: 1px solid transparent;
    }
    p:hover{
        border: 1px solid rgb(49, 117, 226);
    }
}

#element:hover{
border: 1px solid rgb(49, 117, 226);
}

